.service{
    margin-bottom: 235px;
}

// .service__inner{
    
// }

.service__title{
    font-weight: 700;
    font-size:48px ;
    line-height:54px ;
    color: $dark-color ;
    text-align: center;    
    margin-top: 0;
    margin-bottom: 80px;
}

.service__list{
    display: flex;
    @include list-reset;
    text-align: center;
    position: relative;  
}

.service__list::before{
    position: absolute;
    top: 97px;
    left: -69px;
    content: "" ;
    width: 50px;
    height: 50px;
    background-image: url(../img/vector-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.9s ease;
}

.service__list:hover:before{
    background-color: #FFFFFF;
}

.service__list:active:before{
    background-color: #FFFFFF;
    opacity: 0.4;
}

.service__list::after{
    position: absolute;
    top: 97px;
    right: 30px;
    content: "" ;
    width: 50px;
    height: 50px;
    background-image: url(../img/vector-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.9s ease;
}

.service__list:hover::after{
    background-color: #FFFFFF;
}

.service__list:active:after{
    background-color: #FFFFFF;
    opacity: 0.4;
}

.service__item{
    width: 100%;
    max-width: 193px;
    background-color: #FFFFFF;
    padding: 129px 32px 28px 35px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 14px;
    transition: opacity 0.4s ease;
}

.service__item--first{
    padding: 129px 42px 28px 35px;
    margin-bottom: 0;


}

.service__item:hover{
    opacity: 0.8;
}

.service__item:active{
    opacity: 0.6;
}

.service__item--fourth{
    padding-top: 140px;
    padding-bottom: 39px;
}

.service__item--sixth{
    padding-top: 140px;
    padding-bottom: 39px;
}

.service__item ~ .service__item{
    margin-left: 13px;
}

.service__item::before{
    position: absolute;
    top: 28px;
    left: 76px;
    content: "" ;
    margin: 0 auto;
    width: 54px;
    height: 77px;
    background-image: url(../img/service-1.svg);
    background-repeat: no-repeat;
}

.service__item--second::before{
    position: absolute;
    top: 28px;
    left: 60px;
    content: "" ;
    margin: 0 auto;
    width: 64px;
    height: 77px;
    background-image: url(../img/service-2.svg);
    background-repeat: no-repeat;
    
}

.service__item--third::before{
    position: absolute;
    top: 28px;
    left: 60px;
    content: "" ;
    margin: 0 auto;
    width: 72px;
    height: 77px;
    background-image: url(../img/ssevice-3.svg);
    background-repeat: no-repeat;
}

.service__item--fourth::before{
    position: absolute;
    top: 28px;
    left: 53px;
    content: "" ;
    margin: 0 auto;
    width: 76px;
    height: 76px;
    background-image: url(../img/service-4.svg);
    background-repeat: no-repeat;
}

.service__item--fifth::before{
    position: absolute;
    top: 28px;
    left: 53px;
    content: "" ;
    margin: 0 auto;
    width: 78px;
    height: 78px;
    background-image: url(../img/service-5.svg);
    background-repeat: no-repeat;
}

.service__item--sixth::before{
    position: absolute;
    top: 28px;
    left: 58px;
    content: "" ;
    margin: 0 auto;
    width: 76px;
    height: 76px;
    background-image: url(../img/service-6.svg);
    background-repeat: no-repeat;
}

.service__link{
    text-decoration: none;
    color:$dark-color;
}

.service__info{
    font-weight: $font-weight;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}


.service__content{
    width: 100%;
    max-width: 1223px;
    display: flex;
    align-items: center;
    background-color:#FFFFFF ;
    padding: 42px 105px 43px 27px;
    border-radius: 5px;
    
}

.service__img{
    width: 524px;
    height: 329px;
    border-radius: 5px;
    margin-right: 67px;
}

.service__wrapper{
    width: 100%;
    max-width: 492px;
}

.service__text{
    font-weight:$font-weight ;
    font-size:36px ;
    line-height:20px ;
    color:$dark-color ;
    margin-top: 0;
    margin-bottom:18px ;
}

.service__desc{
    font-weight:400 ;
    font-size:16px ;
    line-height:20px ;
    color:#949494;
    margin-top: 0;
    margin-bottom:9px ;
}

.service__desc ~ .service__desc{
    margin-bottom: 34px;
}

.service__choice{
    display: flex;
    align-items: center;
}

.service__price{
    display: inline-block;
    font-weight:$font-weight ;
    font-size:16px ;
    line-height:21px ;
    color:#FFFFFF;
    background-color: #FFBD54;
    text-decoration: none;
    padding: 15px 36px 16px 63px;
    border-radius: 3px;
    margin-right: 21px;
    position: relative;
    transition: all 0.4s ease;
}

.service__price:hover{
    color: #FFBD54;
    background-color: #333333;
}

.service__price:active{
    color: #FFBD54;
    background-color: #333333;
    opacity: 0.6;
}

.service__price::before{
    position: absolute;
    top: 15px;
    left: 36px;
    content: "" ;
    width: 21px;
    height: 21px;
    background-image: url(../img/money.svg);
    background-repeat: no-repeat;
}

.service__appointment{
    display: inline-block;
    font-weight:$font-weight ;
    font-size:16px ;
    line-height:21px ;
    color:#FFFFFF;
    background-color: $dark-color;
    text-decoration: none;
    padding: 15px 37px 14px 64px;
    border-radius: 3px;
    position: relative;
    transition: all 0.4s ease;
}

.service__appointment:hover{
    color: #333333;
    background-color:#FFBD54 ;
}

.service__appointment:active{
    color: #333333;
    background-color:#FFBD54;
    opacity: 0.6;
}

.service__appointment::before{
    position: absolute;
    top: 15px;
    left: 36px;
    content: "" ;
    margin: 0 auto;
    width: 21px;
    height: 21px;
    background-image: url(../../img/document.svg);
    background-repeat: no-repeat;
}